{% extends "scanner/layouts/base.html" %}

{% block title %} Configuration {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Add Scan Configuration</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Configuration</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Add scan configuration</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Basic Componant</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="ml-4">Enter scan details</h5>
                                <hr>
                                <div class="row ml-5 ">
                                    <div class="col-md-10">
                                        <form method="POST" action="{% url 'add_conf' %}">
                                            {% csrf_token %}
                                            <div class="form-group col-md-6">
                                                <label>Configuration name</label>
                                                <input name="conf_name" type="text" class="form-control" placeholder="Enter name" value="New Configuration">
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label" for="exampleCheck1">Web Disovery</label>
                                                <label class="switch">
                                                    <input name="web_discovery" type="checkbox" class="form-check-input ml-2" id="exampleCheck1">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="form-group form-check ml-auto">
                                                <label class="form-check-label" for="exampleCheck1">Port scan</label>
                                                <label class="switch">
                                                    <input name="port_scan" type="checkbox" class="form-check-input ml-2" id="exampleCheck1">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label" for="exampleCheck1">Subdomain discovery</label>
                                                <label class="switch">
                                                    <input name="subdomain_discovery" type="checkbox" class="form-check-input ml-2 subdomain_discovery">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="subdomain_options unique">
                                                <div class="form-group form-check">
                                                    <label class="form-check-label" for="exampleCheck1">Amass</label>
                                                    <label class="switch">
                                                        <input name="tool_amass" type="checkbox" class="form-check-input ml-2" id="tool_amass">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <div class="form-group form-check">
                                                    <label class="form-check-label" for="exampleCheck1">Subfinder</label>
                                                    <label class="switch">
                                                        <input name="tool_subfinder" type="checkbox" class="form-check-input ml-2" id="tool_subfinder">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <div class="form-group form-check">
                                                    <label class="form-check-label" for="exampleCheck1">AssetFinder</label>
                                                    <label class="switch">
                                                        <input name="tool_assetfinder" type="checkbox" class="form-check-input ml-2" id="tool_assetfinder">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <div class="form-group form-check">
                                                    <label class="form-check-label" for="exampleCheck1">Brute Force</label>
                                                    <label class="switch">
                                                        <input name="tool_bruteforce" type="checkbox" class="form-check-input ml-2" id="tool_bruteforce">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label" for="exampleCheck1">Vulnerability Scan</label>
                                                <label class="switch">
                                                    <input name="vulnerability_scan" type="checkbox" class="form-check-input ml-2" id="exampleCheck1">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div class="row d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
