{% extends "scanner/layouts/base.html" %}

{% block title %} Scanner {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="row">
                        <!--[ total scans section ] start-->
                        <div class="col-md-6 col-xl-3">
                            <div class="card total-scans">
                                <div class="card-block">
                                    <h4 class="mb-5">Total Scans</h4>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-7">
                                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-shield text-c-green f-30 m-r-10"></i>{{total_scans}}</h3>
                                        </div>

                                        <div class="col-5 text-right">
                                            <p class="m-b-0"> View all </p>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar progress-c-theme progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ total scans section ] end-->
                        <!--[ total targets section ] starts-->
                        <div class="col-md-6 col-xl-3">
                            <div class="card Total-targets">
                                <div class="card-block">
                                    <h4 class="mb-5">Total Targets</h4>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-8">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-target text-c-red f-30 m-r-10"></i>{{total_targets}}</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                            <p class="m-b-0"> View all </p>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar bg-danger progress-bar-striped " role="progressbar" style="width: 100%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ total targets section ] end-->
                        <!--[ discovered subdomains section ] starts-->
                        <div class="col-md-12 col-xl-3">
                            <div class="card Discovered-subs">
                                <div class="card-block">
                                    <h4 class="mb-5">Total Subdomains</h4>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-7">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-crosshair text-c-purple f-30 m-r-10"></i>{{discovered_subdomains}}</h3>
                                        </div>
                                        <div class="col-5 text-right">
                                            <p class="m-b-0"> View all</p>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 100%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ discovered subdomains section ] end-->
                        <!--[ discovered hosts section ] starts-->
                        <div class="col-md-12 col-xl-3">
                            <div class="card Discovered-hosts">
                                <div class="card-block">
                                    <h4 class="mb-5">Total Hosts</h4>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-8">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-monitor text-c-yellow f-30 m-r-10"></i>{{discovered_hosts}}</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                            <p class="m-b-0"> View all </p>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar bg-warning progress-bar-striped " role="progressbar" style="width: 100%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ discovered hosts section ] end-->
                        <!--[ Recent Users ] start-->
                        
                        <div class="col-xl-6 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Top 5 Vulnerabilities Discovered</h5>
                                </div>
                                <div class="card-block px-0 py-0">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Host</th>
                                                    <th>Risk Level</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for vuln in vulnerabilities %}
                                                <tr class="unread">
                                                    <td><i class="feather icon-alert-triangle text-c-red f-26 m-r-15"></i></td>
                                                    <td>
                                                        <h6 class="mb-1">{{ vuln.host }}</h6>
                                                        <p class="m-0">{{ vuln.description }}</p>
                                                    </td>
                                                    <td><a href="#!" class="label {{vuln.risk_level}} text-white f-12">{{vuln.risk_level}}</a></td>
                                                </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Donut Chart</h5>
                                </div>
                                <div class="card-block">
                                    <div id="doghnut-vulns" style="height:300px"></div>
                                </div>
                            </div>
                        </div>
            
                        <!--[social-media section] start-->
                        <div class="col-md-12 col-xl-4">
                            <div class="card card-social">
                                <div class="card-block border-bottom">
                                    <div class="row align-items-center justify-content-center">
                                        <div>
                                            <h4 class="mb-2">Latest Scan</h4>
                                            <p class="mt-3 ml-0">View details</p>
                                        </div>
                                        <div class="col text-right">
                                            <h3>{{latest_scan}}</h3>
                                            <h5 class="text-c-green mb-0">+{{ latest_subdomains }} <span class="text-muted">Discovered subdomains</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row align-items-center justify-content-center card-active">
                                        <div class="col-6">
                                            <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>{{latest_target}}</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width:100%;height:6px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Scanned on:</span>{{latest_scan.last_scan_date}}</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme2" role="progressbar" style="width:100%;height:6px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[social-media section] start-->
                        
                        <div class="col-md-12 col-xl-8">
                            <div class="card card-social">
                                <div class="border-bottom">
                                    {% if currently_scanning.count == 0%}
                                        <h4 class="mt-2 ml-2">No current scans</h4>
                                    {% else %}
                                        <h4 class="mt-2 ml-2">Currently Scanning:</h4>
                                    {% endif %}
                                </div>
                                <div class="card-block-fixed">
                                {% for c in currently_scanning %}
                                    <div class="border-bottom mt-2 row align-items-center justify-content-center card-active">
                                        <div class="col-6 mb-2">
                                            <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>{{c.organization_name}}</h6>
                                        </div>
                                        <div class="col-6">
                                            <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Scanning mode:</span>{{c.configuration}}</h6>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--[social-media section] start-->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
