{% extends "scanner/layouts/base.html" %}

{% block title %} Configuration {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script>
    function enableButton(id) {
        let bt = document.getElementById('button_'+id);
        bt.disabled=false;
    }
</script>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">All Scan Configurations</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Configuration</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Edit scan configurations</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12 card-config">
                        <div class="card">
                            <div class="card-header">
                                <h5>Basic Componant</h5>
                            </div>
                            <div class="card-body">
                                {% for c in configurations %}
                                {% if select %}
                                    <form method="POST" action="{% url 'configuration' %}">
                                {% endif %}
                                <div class="row d-flex justify-content-between">
                                    <h5 class="ml-4">{{c.name}}</h5>
                                    {% if select %}
                                    <input class="mr-5" id="{{c.id}}" type="radio" value={{c.id}} name="selectedConf">
                                    {% endif %}
                                </div>
                                <hr>
                                    <div class="row ml-5 ">
                                        <div class="col-md-12">
                                            {% if not select %}
                                            <form method="POST" action="{% url 'add_conf' conf_id=c.id %}">
                                            {% endif %}
                                                {% csrf_token %}
                                                <div class="form-group form-check">
                                                    <label class="form-check-label" for="exampleCheck1">Web Discovery</label>
                                                    <input name="web_discovery" type="checkbox" class="form-check-input ml-2" id="exampleCheck1" 
                                                        {% if c.web_discovery %} checked {% endif %}
                                                        {% if c.default or select %} disabled {% else %} onChange="enableButton({{c.id}})" {% endif %}>
                                                </div>
                                                <div class="form-group form-check ml-auto">
                                                    <label class="form-check-label" for="exampleCheck1">Port scan</label>
                                                    <input name="port_scan" type="checkbox" class="form-check-input ml-2" id="exampleCheck1" 
                                                        {% if c.port_scan %} checked {% endif %}
                                                        {% if c.default or select %} disabled {% else %} onChange="enableButton({{c.id}})" {% endif %}>
                                                </div>
                                                <div class="form-group form-check">
                                                    <label class="form-check-label" for="exampleCheck1">Subdomain discovery</label>
                                                    <input name="subdomain_discovery" type="checkbox" class="form-check-input ml-2" id="exampleCheck1" 
                                                        {% if c.subdomain_discovery %} checked {% endif %}
                                                        {% if c.default or select %} disabled {% else %} onChange="enableButton({{c.id}})" {% endif %}>
                                                </div>
                                                <div class="form-group form-check">
                                                    <label class="form-check-label" for="exampleCheck1">Vulnerability Scan</label>
                                                    <input name="vulnerability_scan" type="checkbox" class="form-check-input ml-2" id="exampleCheck1" 
                                                        {% if c.vulnerability_scan %} checked {% endif %}
                                                        {% if c.default or select %} disabled {% else %} onChange="enableButton({{c.id}})" {% endif %}>
                                                </div>
                                                
                                                <div class="row d-flex justify-content-end">
                                                    {% if select == False %}
                                                        {% if c.default == False %} 
                                                            <a href="{% url 'delete_config' conf_id=c.id %}" class="feather icon-trash-2 text-danger f-30 hov p-2" 
                                                                onclick="return confirm('Are you sure? This will delete this configuration from the app.')"></a>

                                                            <button id="button_{{c.id}}" type="submit" class="btn btn-primary p-2 mr-5" disabled>Save changes</button>
                                                        {% else %}
                                                            <label class="mr-5 text-right label-outline-purple ">Default</button>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            {% if not select %}
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if select %}
                                    <input name="scan_id" type="hidden" class="form-control" value="{{scan.id}}">
                                    <button id="button" type="submit" class="btn btn-primary p-2 mr-5">Select configuration</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
