
    <!-- Required Js -->
    <script src="/static/assets/js/vendor-all.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/pcoded.min.js"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.dataTargets').DataTable({
                "columnDefs": [
                    { className: "bold", "targets": [ 0 ] }
                ],
                "ajax": {
                    "url": '{% url "load_scan_targets" %}',
                    "data": {
                        'scan_id': '{{ scan_id }}'
                    },
                    "dataType": "json"
                }
            });

            $('.dataWebs').DataTable({
                "columnDefs": [
                    { className: "bold", "targets": [ 0 ] }
                ],
                "createdRow": function( row, data, dataIndex, cells ) {
                   $('td', row).eq(2).addClass('status'.concat(data[2].toString().charAt(0))); 
                }, 
                "ajax": {
                    "url": '{% url "load_scan_webs" %}',
                    "data": {
                        'scan_id': '{{ scan_id }}'
                    },
                    "dataType": "json"
                }
            });

            $('.dataVulns').DataTable({
                "columnDefs": [
                    { className: "bold", "targets": [ 0 ] }
                ],
                "createdRow": function(row, data, dataIndex, cells){
                    $('td', row).eq(4).wrapInner( "<a class='label text-white f-12 "+ data[4] +"'></a>");
                },
                "ajax": {
                    "url": '{% url "load_scan_vulns" %}',
                    "data": {
                        'scan_id': '{{ scan_id }}'
                    },
                    "dataType": "json"
                }
            });
        } );
    </script>
    <script>
        $(document).ready(function(){
            $(".data").DataTable();
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".reload").click(function (event) {
                $.ajax({
                    url: '{% url "reload_any" %}',
                    data: {
                        'scan_id': event.target.id,
                        'target': $(event.target).attr('name'),
                        'option': event.target.value
                    },
                    dataType: 'json',
                    success: function (data) {
                        alert("success" + event.target.value)
                                
                    }
                }); 
            });
        });
    </script>

    <script>
        var vulnCanvas = document.getElementById("vulnChart");


        var vulnData = {
            labels: [
                "Low",
                "Medium",
                "High",
                "Critical"
            ],
            datasets: [{
                data: [],
                backgroundColor: [
                    "#5dff72",
                    "#ffcc1a",
                    "#ff4e39",
                    "#8f0000"
                ]
            }]
        };

        $.ajax({
            url: '{% url "get_vuln_count" %}',
            dataType: 'text'
        }).done(function(data){
            var l = data.split('#')
            vulnData["datasets"][0]["data"] = l

            var pieChart = new Chart(vulnCanvas, {
                type: 'doughnut',
                data: vulnData
            });
        })

    </script>

    <script>
        $(document).ready(function(){
            $('.subdomain_discovery').each(function(index){
                if(this.checked){
                    $('.subdomain_options.'+this.value).show()
                }else{
                    $('.subdomain_options.'+this.value).hide()
                    $('.subdomain_options.unique').hide()
                }
            });
            $('.subdomain_discovery').change(function(){
                $('.subdomain_options.'+this.value).slideToggle('slow');
                $('.subdomain_options.unique').slideToggle('slow');
            });
        });
    </script>