
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="." class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Vultec</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="{% url 'scanner' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-shield"></i></span><span class="pcoded-mtext">Scans</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'scans' %}" class="">Show all</a></li>
                            <li class=""><a href="{% url 'add_scan' %}" class="">Add scan</a></li>
                        </ul>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext">Scan Configurations</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'configuration' %}" class="">Edit configurations</a></li>
                            <li class=""><a href="{% url 'add_conf' %}" class="">Add configuration</a></li>
                        </ul>
                    </li>

                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-globe"></i></span><span class="pcoded-mtext">Organizations</span></a>
                        <ul class="pcoded-submenu organizations-menu">
                            {% for scan in organizations %}
                                <li class=""><a href="{% url 'scan_info' scan_id=scan.id %}" class="">{{scan.organization_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="{% url 'vulnerabilities' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-alert-triangle"></i></span><span class="pcoded-mtext">Vulnerabilities</span></a>
                    </li>

                    <!-- <li class="nav-item pcoded-menu-caption">
                        <label>UI Element</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Components</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'pages' html='ui-button.html' %}" class="">Button</a></li>
                            <li class=""><a href="{% url 'pages' html='ui-badges.html' %}" class="">Badges</a></li>
                            <li class=""><a href="{% url 'pages' html='ui-breadcrumb-pagination.html' %}" class="">Breadcrumb & paggination</a></li>
                            <li class=""><a href="{% url 'pages' html='ui-collapse.html' %}" class="">Collapse</a></li>
                            <li class=""><a href="{% url 'pages' html='ui-tabs.html' %}" class="">Tabs & pills</a></li>
                            <li class=""><a href="{% url 'pages' html='ui-typography.html' %}" class="">Typography</a></li>
                            <li class=""><a href="{% url 'pages' html='ui-icons.html' %}" class="">Feather<span class="pcoded-badge label label-danger">NEW</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Forms & table</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                        <a href="{% url 'pages' html='ui-forms.html'%}"  class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form elements</span></a>
                    </li>
                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                        <a href="{% url 'pages' html='ui-tables.html'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Chart & Maps</label>
                    </li>
                    <li data-username="Charts Morris" 
                        class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="{% url 'pages' html='charts-morris.html'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a></li>
                    <li data-username="Maps Google" 
                         class="nav-item {% if 'maps-google' in segment %} active {% endif %}">
                        <a href="{% url 'pages' html='maps-google.html'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a></li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Pages</label>
                    </li>
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
